.timage{
    margin-top: 20px;
}
.site-footer{
    background-color: #3c3c3c;
    color: white;
}
.a{
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.sub{
    background-color: hsl(0, 100%, 0%);
}